@model IEnumerable<LibDB.DAL.TestAuth>
@{
    ViewBag.Title = "Главная страница";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mt-5">Базы данных библиотеки</h2>
<hr />

<div class="row">
    <div class="col">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm())
                {
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="searchtext" name="searchbase" placeholder="Поиск..." aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <input type="submit" class="btn btn-dark" value="Поиск" />
                            @{
                                if (User.Identity.IsAuthenticated)
                                {
                                    if (User.IsInRole("admin"))
                                    {
                                        @Html.ActionLink("Добавить", "Create", "TestAuths", null, new { @class = "btn btn-success" })
                                    }
                                }
                            }
                        </div>
                    </div>
                }
            </div>
            @{
                    foreach (var item in Model)
                    {
                    <div class="col-md-12">
                        <div class="card shadow-lg mb-3">
                            <p class="card-header text-uppercase">@item.Id. @item.Title</p>
                            @*<img src="~/Images/placeholder.png" class="card-img-top">*@
                            <div class="card-body">
                                <p class="card-text">@item.Description</p>
                            </div>
                            <div class="card-footer">
                                @{
                                <div class="btn-group btn-group-sm pull-right" role="group" aria-label="Basic example">
                                    <a href="@Url.Action("List", "TestCards", new { maingroup = item.Id })" class="btn btn-dark">
                                        Просмотр
                                    </a>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        if (User.IsInRole("admin"))
                                        {
                                            <a href="@Url.Action("Edit", "TestAuths", new { id = item.Id })" class="btn btn-primary">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a href="@Url.Action("Delete", "TestAuths", new { id = item.Id })" class="btn btn-danger">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        }
                                    }
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>