@model LibDB.DAL.Organization
@{
    ViewBag.Title = "Контакты";
}

<h2 class="mt-5">Организация</h2>
    <div class="row">
        <div class="col-md-12">
            <h5 class="mt-3">@Html.DisplayFor(model => Model.FullOrganizationName)</h5>
            <p><strong>Сокращенное название:</strong> @Html.DisplayFor(model => Model.ShortOrganizationName)<br />
            <strong>Директор:</strong> @Html.DisplayFor(model => Model.Director)<br />
            <strong>Телефон:</strong> @Html.DisplayFor(model => Model.Phone)<br />
            <strong>Электронная почта:</strong> @Html.DisplayFor(model => Model.Email)</p>
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("admin"))
                {
                    <p>
                        @Html.ActionLink("Редактировать", "Edit", new { id = Model.OrganizationId }, new { @class = "btn btn-primary" })
                    </p>
                }
            }
        </div>
    </div>