@model LibDB.DAL.Organization
@{
    ViewBag.Title = "Контакты";
}

<h2 class="mt-5">Организация</h2>
<hr />
    <div class="row">
        <div class="col-md-12">
            <dl class="row">
                <dt class="col-md-4">
                    Полное наименование организации
                </dt>
                <dd class="col-md-8">
                    @Html.DisplayFor(model => Model.FullOrganizationName)
                </dd>
                <dt class="col-md-4">
                    Сокращенное наименование организации
                </dt>
                <dd class="col-md-8">
                    @Html.DisplayFor(model => Model.ShortOrganizationName)
                </dd>
                <dt class="col-md-4">
                    Директор
                </dt>
                <dd class="col-md-8">
                    @Html.DisplayFor(model => Model.Director)
                </dd>
                <dt class="col-md-4">
                    Телефон
                </dt>
                <dd class="col-md-8">
                    @Html.DisplayFor(model => Model.Phone)
                </dd>
                <dt class="col-md-4">
                    Электронная почта
                </dt>
                <dd class="col-md-8">
                    @Html.DisplayFor(model => Model.Email)
                </dd>
                <dt class="col-md-4">
                    Наследие
                </dt>
                <dd class="col-md-8">
                    <img src="~/Images/placeholder.png" class="img-thumbnail">
                </dd>
                <dt class="col-md-4">
                    Культура
                </dt>
                <dd class="col-md-8">
                    <img src="~/Images/placeholder.png" class="img-thumbnail">
                </dd>
                <dt class="col-md-4">
                    История
                </dt>
                <dd class="col-md-8">
                    <img src="~/Images/placeholder.png" class="img-thumbnail">
                </dd>
            </dl>
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("admin"))
                {
                    <p>
                        @Html.ActionLink("Редактировать", "Edit", new { id = Model.OrganizationId }, new { @class = "btn btn-primary" })
                    </p>
                }
            }
        </div>
    </div>