@model LibDB.DAL.Card
<div class="card mb-5 shadow">
    <div class="card-header text-uppercase text-light bg-primary">
        <span class="badge badge-light badge-pill float-left m-1">@Model.Id</span> @Model.Title <span class="badge badge-dark float-right m-1">@Model.Year</span>
</div>
    @*<div class="card-body">
        <h6 class="card-title">@Model.LastName @Model.FirstName @Model.MiddleName</h6>
    </div>*@
    <div class="card-footer text-muted">
        <p>
        @if (!Model.LastName.IsEmpty())
        {
            <strong>@Model.LastName, @Model.FirstName.First().</strong>
        }
        </p>
        <p>
            @Model.Title [Текст]
                @if (!Model.Collaborators.IsEmpty())
                {
                    <span>/ @Model.Collaborators</span>
                }
                else
                {
                    if (!Model.LastName.IsEmpty())
                    {
                        <span>/ @Model.LastName @Model.FirstName @Model.MiddleName</span>
                    }
                }
                //
            </p>
        <p>@Model.Body</p>
        <p>@Model.Description</p>
    </div>
</div>
    <!-- END Portlet PORTLET-->
    @*</div>*@

