@model LibDB.DAL.Author
<div class="card mb-5 shadow">
    <div class="card-header text-uppercase text-light bg-primary">
        <span class="badge badge-light badge-pill float-left m-1">@Model.AuthorId</span> @Model.CardTitle <span class="badge badge-dark float-right m-1">@Model.CardYear</span>
</div>
    <div class="card-body">
        <h6 class="card-title">@Model.LastName @Model.FirstName</h6>
    </div>
    <ul class="list-group list-group-flush list-inline">
        <li class="list-group-item">@Model.Collaborators</li>
        <li class="list-group-item">@Model.Title</li>
        <li class="list-group-item">@Model.Year</li>
        <li class="list-group-item">@Model.Number</li>
        <li class="list-group-item">@Model.Pages стр.</li>
        <li class="list-group-item">@Model.Description</li>
    </ul>
    <div class="card-footer text-muted">
        <p><strong>@Model.LastName, @Model.FirstName.First().</strong></p>
        <p>@Model.CardTitle [Текст] / @Model.Collaborators // @Model.Title. - @Model.Year. - @Model.Number. - C. @Model.Pages.</p>
        <p>@Model.Description</p>
    </div>
</div>
    <!-- END Portlet PORTLET-->
    @*</div>*@

