@model LibDB.DAL.Author
<div class="margin-bottom-30">
    <!-- BEGIN Portlet PORTLET-->
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption caption-green">
                <span class="caption-subject text-uppercase">@Model.AuthorId. @Model.CardTitle</span>
            </div>
            <div class="actions">
                <label class="btn grey-salsa active">
                    @Model.CardYear
                </label>
            </div>
        </div>
        <div class="portlet-body">
            <h5><strong>Автор:</strong> @Model.LastName @Model.FirstName</h5>
            <p><strong>Соавторы:</strong> @Model.Collaborators</p>
            <p><strong>Название:</strong> @Model.Title</p>
            <p><strong>Год:</strong> @Model.Year</p>
            <p><strong>Номер:</strong> @Model.Number</p>
            <p><strong>Страницы:</strong> @Model.Pages стр.</p>
            <p>@Model.Description</p>
        </div>
        <div class="portlet-body">
            <hr />
            <p><strong>@Model.LastName, @Model.FirstName.First().</strong></p>
            <p>@Model.CardTitle [Текст] / @Model.Collaborators // @Model.Title. - @Model.Year. - @Model.Number. - C. @Model.Pages.</p>
            <p>@Model.Description</p>
        </div>
    </div>
   <!-- END Portlet PORTLET-->
</div>

