@model LibDB.DAL.Author
<div class="margin-bottom-30">
    <!-- BEGIN Portlet PORTLET-->
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption caption-green">
                <i class="glyphicon glyphicon-book"></i>
                <span class="caption-subject text-uppercase">@Model.CardTitle</span>
            </div>
            <div class="actions">
                <label class="btn grey-salsa active">
                    @Model.CardYear
                </label>
            </div>
        </div>
        <div class="portlet-body">
            <h4>Автор: @Model.LastName @Model.FirstName</h4>
            <p><strong>Соавторы:</strong> @Model.Collaborators</p>
            <p><strong>Название:</strong> @Model.Title</p>
            <p><strong>Номер:</strong> @Model.Year</p>
            <p><strong>Страницы:</strong> @Model.Pages стр.</p>
            <p>@Model.Description</p>
        </div>
        <div class="portlet-body">
            <hr />
            <p>@Model.Description</p>
        </div>
    </div>
   <!-- END Portlet PORTLET-->
</div>

