@model IEnumerable<int>

<!-- получение названия текущей группы из запроса -->
@{var txt = Request.RequestContext.RouteData.Values["group"] ?? "Все";}
<div class="list-group">
    @{
        if (txt.Equals("Все"))
        {
            <a href="@Url.Action("List", "Author")" class="list-group-item list-group-item-action active">
                Все
            </a>
        }
        else
        {
            <a href="@Url.Action("List", "Author")" class="list-group-item list-group-item-action">
                Все
            </a>
        }
     }

    @{
        int i = 0;
        if(int.TryParse(txt.ToString(), out i))
        {
            i = Convert.ToInt32(txt);
        }
        else
        {
            i = 0;
        }

        foreach (var item in Model)
        {

            if (item == i)
            {
                <a class="list-group-item list-group-item-action active" href="@Url.Action("List", "Author", new { group = item })">
                    @item.ToString()
                </a>
            }
            else
            {
                <a class="list-group-item list-group-item-action" href="@Url.Action("List", "Author", new { group = item })">
                    @item.ToString()
                </a>
            }
        }
    }
</div>
