@model LibDB.DAL.TestCard

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>TestCard</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-row form-group">
        <div class="col">
            @Html.LabelFor(model => model.Header, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Header, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Header, "", new { @class = "text-danger" })
        </div>
        <div class="col-2">
            @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Body, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Auth, htmlAttributes: new { @class = "control-label" })
        @*@Html.EditorFor(model => model.AuthId, new { htmlAttributes = new { @class = "form-control" } })*@
        @Html.DropDownListFor(model => model.AuthId, new SelectList(ViewBag.ListItem, "Id", "Title"), new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.AuthId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <input type="submit" value="Обновить" class="btn btn-dark" />
        @Html.ActionLink("Отмена", "List", null, new { @class = "btn btn-dark" })
    </div>
</div>
}