@model LibDB.DAL.TestCard
<div class="card mb-3 shadow">
    <div class="card-header text-uppercase">
        @Model.Title
    </div>
    @*<div class="card-body">
            <h6 class="card-title">@Model.LastName @Model.FirstName @Model.MiddleName</h6>
        </div>*@
    <div class="card-body">
        <p>
            @Model.Year
        </p>
        <p>
           @Model.Auth.Title
        </p>
    </div>
    <div class="card-footer">
    </div>
</div>
<!-- END Portlet PORTLET-->
@*</div>*@


