@model LibDB.DAL.TestCard
<div class="card mb-3 shadow">
    <div class="card-header">
        <strong>@Model.Header</strong> <a class="float-right" href="@Url.Action("List", "TestCards", new { maingroup = Model.Auth.Id, group = @Model.Year })"><span class="badge badge-dark m-1">@Model.Year</span></a>
    </div>
    @*<div class="card-body">
            <h6 class="card-title">@Model.LastName @Model.FirstName @Model.MiddleName</h6>
        </div>*@
    <div class="card-body">
        <p>@Model.Title</p>
        <p>@Model.Body</p>
        <p>@Model.Description</p>
    </div>
    <div class="card-footer">
        @{
            if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("admin"))
                {
                    <div class="col-2 btn-group pull-right" role="group" aria-label="Basic example">
                        <a href="@Url.Action("Details", "TestCards", new { id = Model.Id })" class="btn btn-dark">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a href="@Url.Action("Edit", "TestCards", new { id = Model.Id })" class="btn btn-primary">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="@Url.Action("Delete", "TestCards", new { id = Model.Id })" class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                }
            }
        }
    </div>
</div>


