@model IEnumerable<LibDB.DAL.TestBase>

<!-- получение названия текущей группы из запроса -->
@{var txt = Request.RequestContext.RouteData.Values["maingroup"] ?? "Все";}
@{var txt1 = Request.RequestContext.RouteData.Values["group"] ?? "Все";}
@*<h5>Базы данных</h5>
<div class="list-group mb-5">*@
    @{
        @*if (txt.Equals("Все"))
        {
            <a href="@Url.Action("List", "TestCards")" class="list-group-item list-group-item-action active">
                Все
            </a>
        }
        else
        {
            <a href="@Url.Action("List", "TestCards")" class="list-group-item list-group-item-action">
                Все
            </a>
        }*@
    }

    @{
        int i = 0;
        string mgroup = null;
        if (int.TryParse(txt.ToString(), out i))
        {
            i = Convert.ToInt32(txt);
            mgroup = txt.ToString();
        }
        else
        {
            i = 0;
            mgroup = null;
        }

        @*foreach (var item in Model)
        {
            if (item.Id == i)
            {
                <a class="list-group-item list-group-item-action active" href="@Url.Action("List", "TestCards", new { maingroup = item.Id })">
                    @item.Title
                </a>
            }
            else
            {
                <a class="list-group-item list-group-item-action" href="@Url.Action("List", "TestCards", new { maingroup = item.Id })">
                    @item.Title
                </a>
            }
        }*@
    }
@*</div>*@
<div class="list-group">

    @{
        if (txt1.Equals("Все"))
        {
            <a href="@Url.Action("List", "TestCards", new { maingroup = mgroup})" class="list-group-item list-group-item-action active py-2">
                Все
            </a>
        }
        else
        {
            <a href="@Url.Action("List", "TestCards", new { maingroup = mgroup})" class="list-group-item list-group-item-action py-2">
                Все
            </a>
        }
    }

    @{
        int n = 0;
        if (int.TryParse(txt1.ToString(), out n))
        {
            i = Convert.ToInt32(txt1);
        }
        else
        {
            n = 0;
        }

        foreach (var item in ViewBag.Years)
        {
            if (item == n)
            {
                <a class="list-group-item list-group-item-action active py-2" href="@Url.Action("List", "TestCards", new { maingroup = mgroup, group = item })">
                    @item.ToString()
                </a>
            }
            else
            {
                <a class="list-group-item list-group-item-action py-2" href="@Url.Action("List", "TestCards", new {  maingroup = mgroup, group = item })">
                    @item.ToString()
                </a>
            }
        }
    }
</div>
