<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/styles")
    @RenderSection("Styles", false)

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        @Html.Action("Brand", "Menu")
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            @Html.Action("Main", "Menu", new { c = Request.RequestContext.RouteData.Values["controller"], })
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <!--Содержимое сайта-->
    <div class="main-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-3">
                    <h2>@ViewBag.Caption</h2>
                </div>
            </div>
            <div class="row">
                <!--Левая боковая панель-->
                @*<div class="col-md-3">
                        @Html.Action("Side", "Menu")
                        @RenderSection("SidePanel", required: false)
                    </div>*@
                <!--/Левая боковая панель (конец)-->
                <!--Основная панель-->
                <div class="col-md-12">
                    @RenderBody()
                </div><!--/Основная панель (конец)-->
            </div>
        </div>
    </div><!--Содержимое сайта (конец)-->
    <!--Подвал страницы-->
    <footer class="section" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
    </footer>
    <!--Подвал страницы (конец)-->

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("Scripts", required: false)
</body>
</html>

