@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logoff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "form-inline my-2 my-lg-0" }))
    {
        @Html.AntiForgeryToken()
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown ml-auto">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @User.Identity.GetUserName()
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    @Html.ActionLink("Администирование", "Index", "Admin", null, new { @class = "dropdown-item" })
                    @Html.ActionLink("Наследие", "Heritage", "Admin", null, new { @class = "dropdown-item" })
                    @Html.ActionLink("Культура", "Heritage", "Admin", null, new { @class = "dropdown-item" })
                    @Html.ActionLink("История", "Heritage", "Admin", null, new { @class = "dropdown-item" })
                    <div class="dropdown-divider"></div>
                    @Html.ActionLink("Профиль", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "dropdown-item" })
                    <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Выход</a>
                </div>
            </li>
        </ul>
    }
}
else
{
<ul class="nav navbar-nav navbar-right">
    @*<li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
    <li class="nav-item">@Html.ActionLink("Вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class="nav-link" })</li>
</ul>
}
