@model IEnumerable<LibBD.Models.MenuItem>
<ul class="navbar-nav mr-auto">
    @foreach (var item in Model)
    {
        if (item.Controller == "Admin")
        {
            if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("admin"))
                {
                    <li class="nav-item @item.Active">@Html.ActionLink(item.Name, item.Action, item.Controller, null, new { @class = "nav-link" })</li>
                }
            }
        }
        else if (item.Controller == "TestCards")
        {
            <li class="nav-item @item.Active">@Html.ActionLink(item.Name, item.Action, item.Controller, new { maingroup = item.Group }, new { @class = "nav-link" })</li>
        }
        else
        {
            <li class="nav-item @item.Active">@Html.ActionLink(item.Name, item.Action, item.Controller, null, new { @class = "nav-link" })</li>
        }
    }
</ul>
