@model IEnumerable<LibDB.DAL.Author>

@{
    ViewBag.Title = "Администрирование баз";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Наследие</h3>
<div class="input-group mb-3">
    <input type="text" class="form-control" id="HeritageInput" placeholder="Поиск..." aria-label="Recipient's username" aria-describedby="button-addon2">
    <div class="input-group-append">
        @Html.ActionLink("Добавить", "HeritageCreate", null, new { @class = "btn btn-outline-success" })
    </div>
</div>
<table class="table table-sm table-bordered">
    <thead>
        <tr>
            <th style="width: 80px">ID</th>
            <th>Заглавие</th>
            <th style="width: 100px"><i class="fa fa-calendar"></i> Год</th>
            <th><i class="fa fa-users"></i> ФИО</th>
            <th>Название</th>
            <th style="width: 180px"><i class="fa fa-calendar"></i> Год выпуска</th>
            <th colspan="3" align="center"><i class="fa fa-gear"></i></th>
        </tr>
    </thead>
    <tbody id="HeritageTable">
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">
                    @Html.DisplayFor(model => item.AuthorId)
                </th>
                <td>
                    @Html.DisplayFor(model => item.CardTitle)
                </td>
                <td align="center">
                    @Html.DisplayFor(model => item.CardYear)
                </td>
                <td>
                    @Html.DisplayFor(model => item.LastName) @Html.DisplayFor(model => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Title)
                </td>
                <td align="center">
                    @Html.DisplayFor(model => item.Year)
                </td>
                <td width="40px">
                    <a href="@Url.Action("HeritageEdit", "Admin",new { id = item.AuthorId })" class="btn btn-sm btn-outline-primary">
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
                <td width="40px">
                    <a href="@Url.Action("HeritageDetails", "Admin",new { id = item.AuthorId })" class="btn btn-sm btn-outline-info">
                        <i class="fa fa-eye"></i>
                    </a>
                </td>
                <td width="40px">
                    <a href="@Url.Action("HeritageDelete", "Admin",new { id = item.AuthorId })" class="btn btn-sm btn-outline-danger">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#HeritageInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#HeritageTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}
