@model LibDB.DAL.Organization

<h2>Организация</h2>
<p>
    @Html.ActionLink("Редактировать", "OrganizationEdit", new { id = Model.OrganizationId }, new { @class = "btn btn-sm btn-primary" })
</p>
<div class="row">
    <div class="col-md-12">
        <p>@Html.DisplayFor(model => Model.FullOrganizationName)</p>
        <p>@Html.DisplayFor(model => Model.ShortOrganizationName)</p>
        <p>@Html.DisplayFor(model => Model.Director)</p>
        <p>@Html.DisplayFor(model => Model.Phone)</p>
        <p>@Html.DisplayFor(model => Model.Email)</p>
    </div>
</div>
